
.option-formStyle{
  padding-left: 25px;
  padding-Top: 8px
}

.required-icon {
  font-size: 1em;
  color: red;
  font-weight: bold;
  padding-left: 5px
}

.object-style {
  border-left: 2px dotted gray;
  padding-left: 8px;
  padding-top: 6px;
  margin-left: 20px;
  margin-top: 60px;
}

.type-select-style{
  margin-left: 5px;
}

.col-item {
  margin-top: 16px;
  margin-right: 8px;
  cursor: pointer
}
