@charset "utf-8";
@import '~antd/dist/antd.css';
@import '../scripts/components/SchemaComponents/schemaJson.css';
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
}

img {
  transition: 3s;
  height: 100px;
  width: 100px;
}

.App:hover > img {
  transform: rotate(1080deg);
}



body{
    overflow: hidden;
    font-size: 16px;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

h1{
    margin: 0px 0 20px;
    font-weight: normal;
}

a {
    display: block;
    color: #2891e0;
}



.ant-card {
    margin: 0 auto;
    font-size: 16px;
}

.array-item-type {
  text-align: left
}



.add-btn {
  margin: 8px;
}

.pretty-editor{
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 800px;
}

.wrapper {
  overflow-y: scroll;
  height: 800px;
  /* max-height: 900px; */
  
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 6px;
}
/* 外层轨道 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(255,0,0,0.3);
  
  background: rgba(255, 255, 255, 0.1);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0,0,0,0.2);
  -webkit-box-shadow: inset006pxrgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.2);
}

.json-editor {
  margin: 16px;
}